.tareaContenedor {
  width: 500px;
  min-height: 65px;
  background-color: #1b1b32;
  margin: 5px 0;
  padding: 8px 15px 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  border: 1px solid white;
  cursor: pointer;
}

.tareaTexto {
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
}

.tareaIcono {
  width: 25px;
  height: 25px;
  margin: 5px;
}
.tareaIcono:hover{
  transform: scale(1.05);
}

.tareaCompletada {
  background-color: rgba(85, 85, 85, 0.384) !important;
  text-decoration: line-through;
}

.tareaContenedor:nth-child(3n + 1){
  background-color: #1b1b32;
}
.tareaContenedor:nth-child(3n + 2){
  background-color: #2a2a40;
}
.tareaContenedor:nth-child(3n + 3){
  background-color: #3b3b4f;
}
