* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color: white;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  margin: 20px 0;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tareasListaPrincipal {
  width: 600px;
  min-height: 500px;
  background-color: #d5d5d5;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}
